
<!-- BEGIN PAGE CONTAINER-->
<div class="container-fluid">

	<!-- BEGIN PAGE HEADER-->
	<div class="row-fluid">
		<div class="span12">
			<!-- BEGIN PAGE TITLE & BREADCRUMB-->
			<ul class="breadcrumb">
				<li><a href="#">主页</a> <span class="divider">/</span></li>
				<li class="active">默认页面</li>
			</ul>
			<!-- END PAGE TITLE & BREADCRUMB-->
		</div>
	</div>
	<!-- END PAGE HEADER-->

	<!-- BEGIN PAGE CONTENT-->
	<div class="row-fluid">

		
	</div>
	<!-- END PAGE CONTENT-->

</div>
<!-- END PAGE CONTAINER-->
