<input type="hidden" name="retrospect.ids" value="${escapeHtml(retrospect.ids!)}">
<div class="control-group">
	<label class="control-label">年份</label>
	<div class="controls">
		<input type="text" id="year" class="Wdate" name="retrospect.year" readonly="readonly" 
				value="${escapeHtml(retrospect.year!)}"
				onblur="platform_verify.onblurVali(this);" vType="length"
				onClick="WdatePicker({dateFmt: 'yyyy', minDate:'1900-01-01'})">
	</div>
</div>
<div class="control-group">
	<label class="control-label">金额</label>
	<div class="controls">
		<input type="text" name="retrospect.amount"  value="${escapeHtml(retrospect.amount!)}" class="span8">
		<span class="help-inline"></span>
	</div>
</div>
