<div class="control-group">
	<label class="control-label">销售订单号</label>
	<div class="controls">
		<input type="text" name="salesSettlement.salesOrderIds"  value="${escapeHtml(salesSettlement.salesOrderIds!)}"
			class="span8" maxlength="50" vMin="1" vType="length" onblur="platform_verify.onblurVali(this);">
		<span class="help-inline"></span>
	</div>
</div>
<div class="control-group">
	<label class="control-label">总金额</label>
	<div class="controls">
		<input type="text" name="salesSettlement.totalAmount"  value="${escapeHtml(salesSettlement.totalAmount!)}"
			class="span8" maxlength="50" vMin="1" vType="length" onblur="platform_verify.onblurVali(this);">
		<span class="help-inline"></span>
	</div>
</div>
