<link rel="stylesheet" type="text/css" href="${cxt!}/ui/metrolab/assets/bootstrap-table-expandable/bootstrap-table-expandable.css" />
<form id="splitPage" action="${cxt!}/trading/salesSettlement" method="POST" class="form-horizontal">

	<div class="container-fluid">
		<div class="row-fluid">
			<div class="span12">
				<ul class="breadcrumb">
					<li>
						<a href="javascript:void(0)" onclick="common_ajax.ajaxMainPanel('/platform/index/content');">主页</a>
						<span class="divider">/</span>
					</li>
					<li><a href="#">贸易功能</a> <span class="divider">/</span></li>
					<li class="active">销售结算表管理</li>
				</ul>
			</div>
		</div>

		<div class="row-fluid">
			<div class="span12">
				<div class="widget yellow">
					<div class="widget-title">
						<h4>
							<i class="icon-reorder"></i> 查询
						</h4>
					</div>
					<div class="widget-body form switch-form">
						合同月份
						<input type="text" id="contractMonth" class="Wdate" name="_query.contractMonth" readonly="readonly" 
							value='${escapeHtml(splitPage.queryParam["contractMonth"])}'
							onblur="platform_verify.onblurVali(this);" 
							onClick="WdatePicker({dateFmt: 'yyMM', minDate:'1900-01-01'})">
					
						发票号
						<input class="medium" maxlength="8" type="text" name="_query.invoiceNo" value='${escapeHtml(splitPage.queryParam["invoiceNo"])}' >
						
						编号
						<input class="medium" type="text" name="_query.flag" value='${escapeHtml(splitPage.queryParam["flag"])}' >
						
						订货单位
						<input class="medium" type="text" name="_query.orderUnit" value='${escapeHtml(splitPage.queryParam["orderUnit"])}' >
						
						订单项次号
						<input class="medium" type="text" name="_query.orderItemNo" value='${escapeHtml(splitPage.queryParam["orderItemNo"])}' >

						是否开票
						<select name="_query.hasDraw" class="input-small m-wrap" tabindex="1">
							<option></option>
							<option value="1" ${splitPage.queryParam["hasDraw"]! == "1" ? "selected='selected'":"" }>已结</option>
							<option value="0" ${splitPage.queryParam["hasDraw"]! == "0" ? "selected='selected'":"" }>未结</option>
						</select>
					</div>
					
					<div class="widget-body form switch-form">
						结算时间
						<input type="text" id="saveInvoceDateStart" class="Wdate" name="_query.saveDateStart" readonly="readonly" 
							value='${escapeHtml(splitPage.queryParam["saveDateStart"])}'
							onblur="platform_verify.onblurVali(this);" 
							onClick="WdatePicker({dateFmt: 'yyyy-MM-dd ', maxDate:'#F{$dp.$D(\'saveInvoceDateEnd\')}'})">
						至
						<input type="text" id="saveInvoceDateEnd" class="Wdate" name="_query.saveDateEnd" readonly="readonly" 
							value='${escapeHtml(splitPage.queryParam["saveDateEnd"])}'
							onblur="platform_verify.onblurVali(this);" 
							onClick="WdatePicker({dateFmt: 'yyyy-MM-dd ', minDate:'#F{$dp.$D(\'saveInvoceDateStart\')}'})">
					
						<button type="button" class="btn btn-danger" onclick='common_ajax.ajaxFormMainPanel("splitPage");'>查询</button>
						<button type="reset" class="btn btn-inverse">清空</button>
					</div>
				</div>
			</div>
		</div>

		<div class="row-fluid">
			<div class="span12">
				<div class="widget red">
					<%
						var edit = authUrl("/trading/salesSettlement/edit");
						var delete = authUrl("/trading/salesSettlement/delete");
						var view = authUrl("/trading/salesSettlement/view");
					%>
					<div class="widget-title">
						<h4>
							<i class="icon-reorder"></i> 列表
						</h4>
					</div>

					<div class="widget-body">
						<span class="tools"> 
							<button type="button" class="btn btn-success" onclick="common_ajax.ajaxMainPanel('/trading/salesSettlement/toUrl?toUrl=/trading/salesSettlement/add1.html');">
								<i class="icon-plus icon-white"></i>
								添加发票
							</button> 
							
							<button type="button" class="btn btn-success" onclick="common_ajax.ajaxMainPanel('/trading/salesSettlement/toUrl?toUrl=/trading/salesSettlement/add.html');">
								<i class="icon-plus icon-white"></i>
								贴息
							</button> 
							
							<button type="button" class="btn btn-success" 
								onclick='platform_windows.openSelectTable("${cxt!}/trading/salesSettlement/updateFlag", "dataTable");'>
								<i class="icon-share"></i>
								开票
							</button>
							
							<button type="button" class="btn btn-info" 
								onclick='platform_windows.openSelectTable("${cxt!}/trading/salesSettlement/summary", "dataTable");'>
								<i class="icon-share"></i>
								Excel导出
							</button>
							
							<button type="button" class="btn btn-info" 
								onclick='common_ajax.ajaxFormExcel("splitPage","dataTable");'>
								<i class="icon-share"></i>
								Excel导出全部
							</button>
						</span>

                       	<div class="space15"></div>
						<table class="table table-hover table-expandable" id="dataTable">
							<thead>
								<tr>
									<th style="width: 8px;">
										<input type="checkbox" class="group-checkable" name="checkAll" onchange="common_common.checkFunc('dataTable', this.checked);" class="flat-grey selectall">
									</th>
									<th>订货单位</th>
									<th>销售合同价格</th>
									<th>货款金额</th>
									<th>税款金额</th>
									<th>总金额</th>
									<th>出货重量</th>
									<th>发票号</th>
									<th>编号</th>
									<th>是否开票</th>
									<th>月份</th>
									<th>操作</th>
								</tr>
							</thead>
							<tbody>
								<% for(entity in splitPage.list){ %>
								<tr class="odd gradeX">
									<td>
										<input type="checkbox" class="checkboxes" name="checkIds" value="${entity.ids!}" class="flat-grey foocheck">
									</td>
									<td class="orderUniteVali">${escapeHtml(entity["orderUnit"]!)}</td>
									<td>${escapeHtml(entity["invoicePrice"]!)}</td>
									<td>${escapeHtml(entity["goodsAmount"]!)}</td>
									<td>${escapeHtml(entity["taxPrice"]!)}</td>
									<td>${escapeHtml(entity["totalAmount"]!)}</td>
									<td>${escapeHtml(entity["weight"]!)}</td>
									<td>${escapeHtml(entity["invoiceNo"]!)}</td>
									<td>${escapeHtml(entity["flag"]!)}</td>
									<td>
										<% if(entity["hasDraw"] == "0"){ %>
											<span class="label label-warning">否</span>
										<% }else if(entity["hasDraw"] == "1"){ %>
											<span class="label label-success">是</span>
										<% } %>
									</td>
									<td>${escapeHtml(entity["contractMonth"]!)}</td>
									<td>
										<% if(entity["orderItemNo"] == null){ %>
											<a href="javascript:;" class="icon-edit" title="编辑"
											onclick="common_ajax.ajaxMainPanel('/trading/salesSettlement/edit/${entity.ids!}');"></a>
										
											<a href="javascript:;" class="icon-trash" title="删除" 
												onclick="common_modals.deleteOne(this)" 
												data-url="/trading/salesSettlement/delete/${entity.ids!}?csrfToken=${csrfToken!}"></a>
										<% } %>
									</td>
								</tr>
								<tr>
									<td colspan="13">
											<li>品名：${escapeHtml(entity["pName"]!)}</li>
											<li>牌号：${escapeHtml(entity["grade"]!)}</li>
											<li>规格：${escapeHtml(entity["specification"]!)}</li>
											<li>销售订单号：${escapeHtml(entity["salesOrderNo"]!)}</li>
											<li>订单项次号：${escapeHtml(entity["orderItemNo"]!)}</li>
											<li>生产厂家：${escapeHtml(entity["manufacturer"]!)}</li>
<!-- 											<li>销售合同价格：${escapeHtml(entity["invoicePrice"]!)}</li> -->
											<li>销售不含税价：${escapeHtml(entity["noTaxPrice"]!)}</li>
<!-- 											<li>总金额：${escapeHtml(entity["totalAmount"]!)}</li> -->
									</td>
								</tr>
								<% } %>
							</tbody>
							<tfoot valign="bottom">
								<tr>
									<td></td>
									<td>合计</td>
									<td></td>
									<td>${splitPage.paginCount.sumGoodsAmount}</td>
									<td>${splitPage.paginCount.sumTaxPrice}</td>
									<td>${splitPage.paginCount.sumTotalAmount}</td>
									<td>${splitPage.paginCount.sumWeight}</td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
								</tr>
								<tr>
									<td></td>
									<td>总合计</td>
									<td></td>
									<td>${splitPage.allCount.sumGoodsAmount}</td>
									<td>${splitPage.allCount.sumTaxPrice}</td>
									<td>${splitPage.allCount.sumTotalAmount}</td>
									<td>${splitPage.allCount.sumWeight}</td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
								</tr>
							</tfoot>
						</table>

						<div id="splitPageDiv" class="pagination">
							<%include("/platform/common/splitPage.html", {"divId" : "main-content", "formId" : "splitPage", "splitPageDiv" : "splitPageDiv"}){}%>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</form>


<script type="text/javascript" src="${cxt!}/ui/metrolab/assets/bootstrap-table-expandable/bootstrap-table-expandable.js"></script>

<script type="text/javascript">
	jQuery(document).ready(function() {
	});
</script>

