<div class="control-group">
	<label class="control-label">订单项次编号</label>
	<div class="controls">
		<input type="text" name="deliveryDetailed.orderItemNo"  value="${escapeHtml(deliveryDetailed.orderItemNo!)}"
			class="span8" maxlength="50" vMin="1" vType="length" onblur="platform_verify.onblurVali(this);" >
		<span class="help-inline"></span>
	</div>
</div>
<div class="control-group">
	<label class="control-label">合同月份</label>
	<div class="controls">
		<input type="text" name="deliveryDetailed.contractMonth"  value="${escapeHtml(deliveryDetailed.contractMonth!)}"
			class="span8" maxlength="50" vMin="1" vType="length" onblur="platform_verify.onblurVali(this);" >
		<span class="help-inline"></span>
	</div>
</div>
<div class="control-group">
	<label class="control-label">标签</label>
	<div class="controls">
		<input type="text" name="deliveryDetailed.tag"  value="${escapeHtml(deliveryDetailed.tag!)}"
			class="span8" maxlength="50" vMin="1" vType="length" onblur="platform_verify.onblurVali(this);" >
		<span class="help-inline"></span>
	</div>
</div>
<div class="control-group">
	<label class="control-label">重量</label>
	<div class="controls">
		<input type="text" name="deliveryDetailed.weight"  value="${escapeHtml(deliveryDetailed.weight!)}"
			class="span8" maxlength="50" vMin="1" vType="length" onblur="platform_verify.onblurVali(this);" >
		<span class="help-inline"></span>
	</div>
</div>
<div class="control-group">
	<label class="control-label">数量</label>
	<div class="controls">
		<input type="text" name="deliveryDetailed.quantity"  value="${escapeHtml(deliveryDetailed.quantity!)}"
			class="span8" maxlength="50" vMin="1" vType="length" onblur="platform_verify.onblurVali(this);" >
		<span class="help-inline"></span>
	</div>
</div>
<div class="control-group">
	<label class="control-label">销售日期</label>
	<div class="controls">
		<input type="text" name="deliveryDetailed.writeOffDate"  value="${escapeHtml(deliveryDetailed.writeOffDate!)}"
			class="span8" maxlength="50" vMin="1" vType="length" onblur="platform_verify.onblurVali(this);" >
		<span class="help-inline"></span>
	</div>
</div>
<div class="control-group">
	<label class="control-label">运费</label>
	<div class="controls">
		<input type="text" name="deliveryDetailed.freight"  value="${escapeHtml(deliveryDetailed.freight!)}"
			class="span8" maxlength="50" vMin="1" vType="length" onblur="platform_verify.onblurVali(this);" >
		<span class="help-inline"></span>
	</div>
</div>
<div class="control-group">
	<label class="control-label">代收铁运保险费</label>
	<div class="controls">
		<input type="text" name="deliveryDetailed.railwayTIP"  value="${escapeHtml(deliveryDetailed.railwayTIP!)}"
			class="span8" maxlength="50" vMin="1" vType="length" onblur="platform_verify.onblurVali(this);" >
		<span class="help-inline"></span>
	</div>
</div>
<div class="control-group">
	<label class="control-label">代收水运保险费</label>
	<div class="controls">
		<input type="text" name="deliveryDetailed.waterTIP"  value="${escapeHtml(deliveryDetailed.waterTIP!)}"
			class="span8" maxlength="50" vMin="1" vType="length" onblur="platform_verify.onblurVali(this);" >
		<span class="help-inline"></span>
	</div>
</div>
<div class="control-group">
	<label class="control-label">代办运输延伸费</label>
	<div class="controls">
		<input type="text" name="deliveryDetailed.extensionFreight"  value="${escapeHtml(deliveryDetailed.extensionFreight!)}"
			class="span8" maxlength="50" vMin="1" vType="length" onblur="platform_verify.onblurVali(this);" >
		<span class="help-inline"></span>
	</div>
</div>
<div class="control-group">
	<label class="control-label">厚</label>
	<div class="controls">
		<input type="text" name="deliveryDetailed.thickness"  value="${escapeHtml(deliveryDetailed.thickness!)}"
			class="span8" maxlength="50" vMin="1" vType="length" onblur="platform_verify.onblurVali(this);" >
		<span class="help-inline"></span>
	</div>
</div>
<div class="control-group">
	<label class="control-label">宽</label>
	<div class="controls">
		<input type="text" name="deliveryDetailed.width"  value="${escapeHtml(deliveryDetailed.width!)}"
			class="span8" maxlength="50" vMin="1" vType="length" onblur="platform_verify.onblurVali(this);" >
		<span class="help-inline"></span>
	</div>
</div>
<div class="control-group">
	<label class="control-label">长</label>
	<div class="controls">
		<input type="text" name="deliveryDetailed.length"  value="${escapeHtml(deliveryDetailed.length!)}"
			class="span8" maxlength="50" vMin="1" vType="length" onblur="platform_verify.onblurVali(this);" >
		<span class="help-inline"></span>
	</div>
</div>
<div class="control-group">
	<label class="control-label">到站(港口)名称</label>
	<div class="controls">
		<input type="text" name="deliveryDetailed.destination"  value="${escapeHtml(deliveryDetailed.destination!)}"
			class="span8" maxlength="50" vMin="1" vType="length" onblur="platform_verify.onblurVali(this);" >
		<span class="help-inline"></span>
	</div>
</div>
<div class="control-group">
	<label class="control-label">专用线</label>
	<div class="controls">
		<input type="text" name="deliveryDetailed.privateLine"  value="${escapeHtml(deliveryDetailed.privateLine!)}"
			class="span8" maxlength="50" vMin="1" vType="length" onblur="platform_verify.onblurVali(this);" >
		<span class="help-inline"></span>
	</div>
</div>