<link rel="stylesheet" type="text/css" href="${cxt!}/ui/metrolab/assets/bootstrap-table-expandable/bootstrap-table-expandable.css" />

<!-- <link href="${cxt!}/ui/metrolab/assets/fancybox/source/jquery.fancybox.css" rel="stylesheet" /> -->
<!-- <link rel="stylesheet" type="text/css" href="${cxt!}/ui/metrolab/assets/uniform/css/uniform.default.css" /> -->

<!-- <link rel="stylesheet" type="text/css" href="${cxt!}/ui/metrolab/assets/chosen-bootstrap/chosen/chosen.css" /> -->
<!-- <link rel="stylesheet" type="text/css" href="${cxt!}/ui/metrolab/assets/jquery-tags-input/jquery.tagsinput.css" /> -->
<!-- <link rel="stylesheet" type="text/css" href="${cxt!}/ui/metrolab/assets/clockface/css/clockface.css" /> -->
<!-- <link rel="stylesheet" type="text/css" href="${cxt!}/ui/metrolab/assets/bootstrap-wysihtml5/bootstrap-wysihtml5.css" /> -->
<!-- <link rel="stylesheet" type="text/css" href="${cxt!}/ui/metrolab/assets/bootstrap-datepicker/css/datepicker.css" /> -->
<!-- <link rel="stylesheet" type="text/css" href="${cxt!}/ui/metrolab/assets/bootstrap-timepicker/compiled/timepicker.css" /> -->
<!-- <link rel="stylesheet" type="text/css" href="${cxt!}/ui/metrolab/assets/bootstrap-colorpicker/css/colorpicker.css" /> -->
<!-- <link rel="stylesheet" href="${cxt!}/ui/metrolab/assets/bootstrap-toggle-buttons/static/stylesheets/bootstrap-toggle-buttons.css" /> -->
<!-- <link rel="stylesheet" type="text/css" href="${cxt!}/ui/metrolab/assets/bootstrap-daterangepicker/daterangepicker.css" /> -->
<!-- <link rel="stylesheet" type="text/css" href="${cxt!}/ui/metrolab/assets/bootstrap-table-expandable/bootstrap-table-expandable.css" /> -->

<form id="splitPage" action="${cxt!}/trading/deliveryDetailed" method="POST" class="form-horizontal">
	<div class="container-fluid">
		<div class="row-fluid">
			<div class="span12">
				<ul class="breadcrumb">
					<li>
						<a href="javascript:void(0)" onclick="common_ajax.ajaxMainPanel('/platform/index/content');">主页</a>
						<span class="divider">/</span>
					</li>
					<li><a href="#">贸易功能</a> <span class="divider">/</span></li>
					<li class="active">采购发货明细管理</li>
				</ul>
			</div>
		</div>

		<div class="row-fluid">
			<div class="span12">
				<div class="widget yellow">
					<div class="widget-title">
						<h4>
							<i class="icon-reorder"></i> 查询
						</h4>
						<span class="tools"> 
							<a class="icon-chevron-down" href="javascript:;"></a>
						</span>
					</div>
<!-- 					<input id="tags_2" type="text" name="_query.tag" class="tags" value='${escapeHtml(splitPage.queryParam["tag"])}'/> -->
					<div class="widget-body form switch-form">
						订单项次编号
						<input class="medium" type="text" name="_query.orderItemNo" value='${escapeHtml(splitPage.queryParam["orderItemNo"])}' maxlength="50">
						
						销售订单号
						<input class="medium" type="text" name="_query.salesOrderNo" value='${escapeHtml(splitPage.queryParam["salesOrderNo"])}' maxlength="50">
						
						追溯结算
						<select name="_query.hasSet" class="input-small m-wrap" tabindex="1">
							<option></option>
							<option value="1" ${splitPage.queryParam["hasSet"]! == "1" ? "selected='selected'":"" }>已结</option>
							<option value="0" ${splitPage.queryParam["hasSet"]! == "0" ? "selected='selected'":"" }>未结</option>
						</select>
						
						
<!-- 						合同月份 -->
<!-- 						<input type="text" id="mon" class="Wdate" name="_query.contractMonth" readonly="readonly"  -->
<!-- 							value='${escapeHtml(splitPage.queryParam["contractMonth"])}' -->
<!-- 							onblur="platform_verify.onblurVali(this);"  -->
<!-- 							onClick="WdatePicker({dateFmt: 'yyMM', minDate:'1900-01-01'})"> -->
						
						<button type="button" class="btn btn-danger" onclick='common_ajax.ajaxFormMainPanel("splitPage");'>查询</button>
						<button type="reset" class="btn btn-inverse">清空</button>
					</div>
				</div>
			</div>
		</div>

		<div class="row-fluid">
			<div class="span12">

				<div class="widget red">
					<%
						var edit = authUrl("/trading/deliveryDetailed/edit");
						var delete = authUrl("/trading/deliveryDetailed/delete");
						var view = authUrl("/trading/deliveryDetailed/view");
						var excelIn = authUrl("/platform/iedtd/saveExcelData");
					%>
					<div class="widget-title">
						<h4>
							<i class="icon-reorder"></i> 列表
						</h4>
					</div>

					<div class="widget-body">
						<span class="tools"> 
							
							<% if(excelIn == true){ %>
							<button type="button" class="btn btn-success" onclick="common_ajax.ajaxMainPanel('/platform/iedtd/toImportPage?indexKey=intoDeliveryDetailed&action=/trading/deliveryDetailed/excelInport');">
								<i class="icon-edit"></i>
								Excel导入
							</button> 
							<% } %>
							
							<button type="button" class="btn btn-danger" 
								onclick='platform_windows.openSelectTable("${cxt!}/trading/deliveryDetailed/procurementToExcel", "dataTable");'>
								<i class="icon-share"></i>
								入库导出
							</button>
							
							<button type="button" class="btn btn-danger" 
								onclick='platform_windows.openSelectTable("${cxt!}/trading/deliveryDetailed/outToExcel", "dataTable");'>
								<i class="icon-share"></i>
								出库导出
							</button>
							
							<button type="button" class="btn btn-danger" 
								onclick='platform_windows.openSelectTable("${cxt!}/trading/deliveryDetailed/pPut", "dataTable");'>
								<i class="icon-share"></i>
								收货单导出
							</button>
						</span>

                       	<div class="space15"></div>
                       	
						<table class="table table-hover table-expandable" id="dataTable">
							<thead>
								<tr>
									<th style="width: 8px;">
										<input type="checkbox" class="group-checkable" name="checkAll" onchange="common_common.checkFunc('dataTable', this.checked);" class="flat-grey selectall">
									</th>
									<th>订单项次编号</th>
									<th>合同月份</th>
									<th>标签</th>
									<th>重量</th>
									<th>数量</th>
									<th>发货日期</th>
									<th>销售订单号</th>
									<th>订货单位</th>
									<th>订货价格</th>
									<th>销售加价</th>
									<th>追溯结算</th>
								</tr>
							</thead>
							<tbody>
								<% for(entity in splitPage.list){ %>
								<tr class="odd gradeX">
									<td>
										<input type="checkbox" class="checkboxes" name="checkIds" value="${entity.ids!}" class="flat-grey foocheck">
									</td>
									<td>${escapeHtml(entity["orderItemNo"]!)}</td>
									<td>${escapeHtml(entity["contractMonth"]!)}</td>
									<td>${escapeHtml(entity["tag"]!)}</td>
									<td>${escapeHtml(entity["weight"]!)}</td>
									<td>${escapeHtml(entity["quantity"]!)}</td>
									<td>${escapeHtml(entity["writeOffDate"]!)}</td>
									<td>${escapeHtml(entity["salesOrderNo"]!)}</td>
									<td>${escapeHtml(entity["orderUnit"]!)}</td>
									<td>${escapeHtml(entity["price"]!)}</td>
									<td>${escapeHtml(entity["salesPrice"]!)}</td>
									<td>
										<% if(entity["hasSet"] == "0"){ %>
											<span class="label label-warning">否</span>
										<% }else{ %>
											<span class="label label-success">是</span>
										<% } %>
									</td>
								</tr>
								<tr>
									<td colspan="12">
									运费：${escapeHtml(entity["freight"]!)}&nbsp&nbsp&nbsp
									代收铁运保险费：${escapeHtml(entity["railwayTIP"]!)}&nbsp&nbsp&nbsp
									代收水运保险费：${escapeHtml(entity["waterTIP"]!)}&nbsp&nbsp&nbsp
									代办运输延伸费：${escapeHtml(entity["extensionFreight"]!)}&nbsp&nbsp&nbsp
									追溯价格：${escapeHtml(entity["dvPrice"]!)}&nbsp&nbsp&nbsp
									追溯单价差额：${escapeHtml(entity["gapPrice"]!)}&nbsp&nbsp&nbsp
									追溯文号：${escapeHtml(entity["docNo"]!)}&nbsp&nbsp&nbsp
									到站(港口)名称：${escapeHtml(entity["destination"]!)}&nbsp&nbsp&nbsp
									专用线：${escapeHtml(entity["privateLine"]!)}&nbsp&nbsp&nbsp
									</td>
								</tr>
								<% } %>
							</tbody>
						</table>

						<div id="splitPageDiv" class="pagination">
							<%include("/platform/common/splitPage.html", {"divId" : "main-content", "formId" : "splitPage", "splitPageDiv" : "splitPageDiv"}){}%>
						</div>
						
					</div>
				</div>
			</div>
		</div>
	</div>
</form>
<script type="text/javascript" src="${cxt!}/ui/metrolab/assets/bootstrap-table-expandable/bootstrap-table-expandable.js"></script>

<!-- <script type="text/javascript" src="${cxt!}/ui/metrolab/assets/bootstrap-toggle-buttons/static/js/jquery.toggle.buttons.js"></script> -->
<!-- <script type="text/javascript" src="${cxt!}/ui/metrolab/assets/chosen-bootstrap/chosen/chosen.jquery.min.js"></script> -->
<!-- <script type="text/javascript" src="${cxt!}/ui/metrolab/assets/uniform/jquery.uniform.min.js"></script> -->
<!-- <script type="text/javascript" src="${cxt!}/ui/metrolab/assets/bootstrap-wysihtml5/wysihtml5-0.3.0.js"></script> -->
<!-- <script type="text/javascript" src="${cxt!}/ui/metrolab/assets/bootstrap-wysihtml5/bootstrap-wysihtml5.js"></script> -->
<!-- <script type="text/javascript" src="${cxt!}/ui/metrolab/assets/clockface/js/clockface.js"></script> -->
<!-- <script type="text/javascript" src="${cxt!}/ui/metrolab/assets/jquery-tags-input/jquery.tagsinput.min.js"></script> -->
<!-- <script type="text/javascript" src="${cxt!}/ui/metrolab/assets/bootstrap-datepicker/js/bootstrap-datepicker.js"></script> -->
<!-- <script type="text/javascript" src="${cxt!}/ui/metrolab/assets/bootstrap-daterangepicker/date.js"></script> -->
<!-- <script type="text/javascript" src="${cxt!}/ui/metrolab/assets/bootstrap-daterangepicker/daterangepicker.js"></script> -->
<!-- <script type="text/javascript" src="${cxt!}/ui/metrolab/assets/bootstrap-colorpicker/js/bootstrap-colorpicker.js"></script> -->
<!-- <script type="text/javascript" src="${cxt!}/ui/metrolab/assets/bootstrap-timepicker/js/bootstrap-timepicker.js"></script> -->
<!-- <script type="text/javascript" src="${cxt!}/ui/metrolab/assets/bootstrap-inputmask/bootstrap-inputmask.min.js"></script> -->
<!-- <script type="text/javascript" src="${cxt!}/ui/metrolab/assets/fancybox/source/jquery.fancybox.pack.js"></script> -->
<script src="${cxt!}/ui/metrolab/js/form-component.js"></script>
<script type="text/javascript">
	$(function() {
	});
</script>

