<div class="container-fluid">

	<div class="row-fluid">
		<div class="span12">
			<ul class="breadcrumb">
				<li><a href="javascript:void(0)" onclick="common_ajax.ajaxMainPanel('/platform/index/content');">主页</a> <span class="divider">/</span></li>
				<li><a href="javascript:void(0)" onclick="common_ajax.ajaxMainPanel('/trading/deliveryDetailed');">采购发货明细</a> <span class="divider">/</span></li>
				<li class="active">查看</li>
			</ul>
		</div>
	</div>

	<div class="row-fluid">
		<div class="span12">
			<div class="widget red">
				<div class="widget-title">
					<h4><i class=" icon-key"></i> 查看</h4>
				</div>
				<div class="widget-body form">	
					<form role="form" class="form-horizontal">
						<div class="control-group">
							<label class="control-label">合同月份</label>
							<div class="controls">
								<input type="text" class="span8" readonly="readonly" value="${escapeHtml(deliveryDetailed.contractMonth!)}">
							</div>
						</div>
						<div class="control-group">
							<label class="control-label">运费</label>
							<div class="controls">
								<input type="text" class="span8" readonly="readonly" value="${escapeHtml(deliveryDetailed.freight!)}">
							</div>
						</div>
						<div class="control-group">
							<label class="control-label">宽</label>
							<div class="controls">
								<input type="text" class="span8" readonly="readonly" value="${escapeHtml(deliveryDetailed.width!)}">
							</div>
						</div>
						<div class="control-group">
							<label class="control-label">专用线</label>
							<div class="controls">
								<input type="text" class="span8" readonly="readonly" value="${escapeHtml(deliveryDetailed.privateLine!)}">
							</div>
						</div>
						<div class="control-group">
							<label class="control-label">代办运输延伸费</label>
							<div class="controls">
								<input type="text" class="span8" readonly="readonly" value="${escapeHtml(deliveryDetailed.extensionFreight!)}">
							</div>
						</div>
						<div class="control-group">
							<label class="control-label">代收水运保险费</label>
							<div class="controls">
								<input type="text" class="span8" readonly="readonly" value="${escapeHtml(deliveryDetailed.waterTIP!)}">
							</div>
						</div>
						<div class="control-group">
							<label class="control-label">数量</label>
							<div class="controls">
								<input type="text" class="span8" readonly="readonly" value="${escapeHtml(deliveryDetailed.quantity!)}">
							</div>
						</div>
						<div class="control-group">
							<label class="control-label">标签</label>
							<div class="controls">
								<input type="text" class="span8" readonly="readonly" value="${escapeHtml(deliveryDetailed.tag!)}">
							</div>
						</div>
						<div class="control-group">
							<label class="control-label">销售日期</label>
							<div class="controls">
								<input type="text" class="span8" readonly="readonly" value="${escapeHtml(deliveryDetailed.writeOffDate!)}">
							</div>
						</div>
						<div class="control-group">
							<label class="control-label">订单项次编号</label>
							<div class="controls">
								<input type="text" class="span8" readonly="readonly" value="${escapeHtml(deliveryDetailed.orderItemNo!)}">
							</div>
						</div>
						<div class="control-group">
							<label class="control-label">重量</label>
							<div class="controls">
								<input type="text" class="span8" readonly="readonly" value="${escapeHtml(deliveryDetailed.weight!)}">
							</div>
						</div>
						<div class="control-group">
							<label class="control-label">长</label>
							<div class="controls">
								<input type="text" class="span8" readonly="readonly" value="${escapeHtml(deliveryDetailed.length!)}">
							</div>
						</div>
						<div class="control-group">
							<label class="control-label">厚</label>
							<div class="controls">
								<input type="text" class="span8" readonly="readonly" value="${escapeHtml(deliveryDetailed.thickness!)}">
							</div>
						</div>
						<div class="control-group">
							<label class="control-label">到站(港口)名称</label>
							<div class="controls">
								<input type="text" class="span8" readonly="readonly" value="${escapeHtml(deliveryDetailed.destination!)}">
							</div>
						</div>
						<div class="control-group">
							<label class="control-label">代收铁运保险费</label>
							<div class="controls">
								<input type="text" class="span8" readonly="readonly" value="${escapeHtml(deliveryDetailed.railwayTIP!)}">
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>

</div>