<div class="container-fluid">

	<div class="row-fluid">
		<div class="span12">
			<ul class="breadcrumb">
				<li><a href="javascript:void(0)" onclick="common_ajax.ajaxMainPanel('/platform/index/content');">主页</a> <span class="divider">/</span></li>
<!-- 				<li><a href="#">测试</a><span class="divider">/</span></li> -->
				<li><a href="javascript:void(0)" onclick="common_ajax.ajaxMainPanel('/trading/payment');">收付款数据</a> <span class="divider">/</span></li>
				<li class="active">添加</li>
			</ul>
		</div>
	</div>

	<div class="row-fluid">
		<div class="span12">
			<div class="widget red">
				<div class="widget-title">
					<h4>
						<i class=" icon-key"></i> 添加
					</h4>
				</div>
				<div class="widget-body form">

					<form id="editForm" action="${cxt!}/trading/payment/save" method="POST" class="form-horizontal">
						<input type="hidden" name="csrfToken" value="">
						
						<% include("/trading/payment/form.html"){} %>

						<div class="control-group">
							<div class="controls">
								<% if(authUrl("/trading/payment/save")){ %>
								<button type="button" class="btn btn-success" onclick="platform_verify.formValiSubmit(this.form);">
									<i class="icon-ok icon-white"></i>提交
								</button>
								<%} %>	
							</div>
						</div>

					</form>

				</div>
			</div>
		</div>
	</div>

</div>