<input type="hidden" name="payment.ids"  value="${escapeHtml(payment.ids!)}"/>
<div class="control-group">
	<label class="control-label">订货单位</label>
	<div class="controls">
		<select id="paymentunit" name="payment.unit" class="span8 chzn-select combox sqlComponent" tabindex="1"
			selectValue="${escapeHtml(payment.unit!)}" sqlNo="orderUnitName"/>
	</div>
</div>
<div class="control-group">
	<label class="control-label">收款方式</label>
	<div class="controls">
		<select id="paymentMethod" name="payment.method" class="span8 combox sqlComponent" selectValue="${escapeHtml(payment.method!)}" sqlNo="paymentMethod"/>
<!-- 		<input type="text" name="payment.method" -->
<!-- 			value="${escapeHtml(payment.method!)}" class="span8" maxlength="50" -->
<!-- 			vMin="1" vType="length"> <span class="help-inline"></span> -->
	</div>
</div>
<div class="control-group">
	<label class="control-label">收付款金额</label>
	<div class="controls">
		<input type="text" name="payment.amount"
			value="${escapeHtml(payment.amount!)}" class="span8" maxlength="50"
			vMin="1" vType="length"> <span class="help-inline"></span>
	</div>
</div>
<div class="control-group">
	<label class="control-label">摘要</label>
	<div class="controls">
		<input type="text" name="payment.abs"
			value="${escapeHtml(payment.abs!)}" class="span8" maxlength="50"
			vMin="1" vType="length"> <span class="help-inline"></span>
	</div>
</div>
<script src="${cxt!}/ui/metrolab/js/common-scripts.js"></script>
<script src="${cxt!}/ui/metrolab/js/form-component.js"></script>
