<div class="container-fluid">

	<div class="row-fluid">
		<div class="span12">
			<ul class="breadcrumb">
				<li><a href="javascript:void(0)" onclick="common_ajax.ajaxMainPanel('/platform/index/content');">主页</a> <span class="divider">/</span></li>
				<li><a href="javascript:void(0)" onclick="common_ajax.ajaxMainPanel('/trading/payment');">收付款数据</a> <span class="divider">/</span></li>
				<li class="active">查看</li>
			</ul>
		</div>
	</div>

	<div class="row-fluid">
		<div class="span12">
			<div class="widget red">
				<div class="widget-title">
					<h4><i class=" icon-key"></i> 查看</h4>
				</div>
				<div class="widget-body form">	
					<form role="form" class="form-horizontal">
						<div class="control-group">
							<label class="control-label">收款方式</label>
							<div class="controls">
								<input type="text" class="span8" readonly="readonly" value="${escapeHtml(payment.method!)}">
							</div>
						</div>
						<div class="control-group">
							<label class="control-label">摘要</label>
							<div class="controls">
								<input type="text" class="span8" readonly="readonly" value="${escapeHtml(payment.abs!)}">
							</div>
						</div>
						<div class="control-group">
							<label class="control-label">收货单位</label>
							<div class="controls">
								<input type="text" class="span8" readonly="readonly" value="${escapeHtml(payment.unit!)}">
							</div>
						</div>
						<div class="control-group">
							<label class="control-label">收付款金额</label>
							<div class="controls">
								<input type="text" class="span8" readonly="readonly" value="${escapeHtml(payment.amount!)}">
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>

</div>