<div class="container-fluid">

	<div class="row-fluid">
		<div class="span12">
			<ul class="breadcrumb">
				<li><a href="javascript:void(0)" onclick="common_ajax.ajaxMainPanel('/platform/index/content');">主页</a> <span class="divider">/</span></li>
				<li><a href="javascript:void(0)" onclick="common_ajax.ajaxMainPanel('/trading/declareplan');">计划申报</a> <span class="divider">/</span></li>
				<li class="active">查看</li>
			</ul>
		</div>
	</div>

	<div class="row-fluid">
		<div class="span12">
			<div class="widget red">
				<div class="widget-title">
					<h4><i class=" icon-key"></i> 查看</h4>
				</div>
				<div class="widget-body form">	
					<form role="form" class="form-horizontal">
						<div class="control-group">
							<label class="control-label">牌号</label>
							<div class="controls">
								<input type="text" class="span8" readonly="readonly" value="${escapeHtml(declareplan.grade!)}">
							</div>
						</div>
						<div class="control-group">
							<label class="control-label">规格型号</label>
							<div class="controls">
								<input type="text" class="span8" readonly="readonly" value="${escapeHtml(declareplan.specification!)}">
							</div>
						</div>
						<div class="control-group">
							<label class="control-label">计划年月</label>
							<div class="controls">
								<input type="text" class="span8" readonly="readonly" value="${escapeHtml(declareplan.planDate!)}">
							</div>
						</div>
						<div class="control-group">
							<label class="control-label">品名</label>
							<div class="controls">
								<input type="text" class="span8" readonly="readonly" value="${escapeHtml(declareplan.pName!)}">
							</div>
						</div>
						<div class="control-group">
							<label class="control-label">重量</label>
							<div class="controls">
								<input type="text" class="span8" readonly="readonly" value="${escapeHtml(declareplan.weight!)}">
							</div>
						</div>
						<div class="control-group">
							<label class="control-label">订货单位</label>
							<div class="controls">
								<input type="text" class="span8" readonly="readonly" value="${escapeHtml(declareplan.orderUnit!)}">
							</div>
						</div>
						<div class="control-group">
							<label class="control-label">生产厂家</label>
							<div class="controls">
								<input type="text" class="span8" readonly="readonly" value="${escapeHtml(declareplan.manufacturer!)}">
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>

</div>