		<div class="control-group">
			<label class="control-label">倒入数</label>
			<div class="controls">
				<input type="text" name="excelInHistory.recordCount"  value="${escapeHtml(excelInHistory.recordCount!)}"
					class="span8" maxlength="50" vMin="1" vType="length" onblur="platform_verify.onblurVali(this);" placeholder="1-50位字母数字">
				<span class="help-inline"></span>
			</div>
		</div>
		<div class="control-group">
			<label class="control-label">导入时间</label>
			<div class="controls">
				<input type="text" name="excelInHistory.saveDate"  value="${escapeHtml(excelInHistory.saveDate!)}"
					class="span8" maxlength="50" vMin="1" vType="length" onblur="platform_verify.onblurVali(this);" placeholder="1-50位字母数字">
				<span class="help-inline"></span>
			</div>
		</div>
		<div class="control-group">
			<label class="control-label">文件名</label>
			<div class="controls">
				<input type="text" name="excelInHistory.fileName"  value="${escapeHtml(excelInHistory.fileName!)}"
					class="span8" maxlength="50" vMin="1" vType="length" onblur="platform_verify.onblurVali(this);" placeholder="1-50位字母数字">
				<span class="help-inline"></span>
			</div>
		</div>
	