
<form id="splitPage" action="${cxt!}/platform/iedtd" method="POST" class="form-horizontal">

	<!-- BEGIN PAGE CONTAINER-->
	<div class="container-fluid">

		<!-- BEGIN PAGE HEADER-->
		<div class="row-fluid">
			<div class="span12">
				<!-- BEGIN PAGE TITLE & BREADCRUMB-->
				<ul class="breadcrumb">
					<li>
						<a href="javascript:void(0)" onclick="common_ajax.ajaxMainPanel('/platform/index/content');">${i18nMap["admin.common.mainPage"]}</a>
						<span class="divider">/</span>
					</li>
					<li><a href="#">配置项</a> <span class="divider">/</span></li>
					<li class="active">Excel导入</li>
				</ul>
				<!-- END PAGE TITLE & BREADCRUMB-->
			</div>
		</div>
		<!-- END PAGE HEADER-->

		<div class="row-fluid">
			<div class="span12">
				<div class="widget yellow">
					<div class="widget-title">
						<h4>
							<i class="icon-reorder"></i> 查询
						</h4>
						<span class="tools"> 
							<a class="icon-chevron-down" href="javascript:;"></a>
						</span>
					</div>
					<div class="widget-body form switch-form">
							索引字
						<input class="medium" type="text" name="_query.indexkey" value='${escapeHtml(splitPage.queryParam["title"])}' maxlength="50">

						<button type="button" class="btn btn-danger" onclick='common_ajax.ajaxFormMainPanel("splitPage");'>${i18nMap["admin.common.select"]}</button>
						<button type="reset" class="btn btn-inverse">${i18nMap["admin.common.reset"]}</button>
					</div>
				</div>
			</div>
		</div>

		<!-- BEGIN ADVANCED TABLE widget-->
		<div class="row-fluid">
			<div class="span12">

				<!-- BEGIN EXAMPLE TABLE widget-->
				<div class="widget red">

					<%
						var edit = authUrl("/platform/iedtd/edit");
						var delete = authUrl("/platform/iedtd/delete");
						var view = authUrl("/platform/iedtd/view");
					%>

					<div class="widget-title">
						<h4>
							<i class="icon-reorder"></i> 列表
						</h4>
					</div>

					<div class="widget-body">
						<span class="tools"> 
							<% if(authUrl("/platform/iedtd/add.html")){ %>
							<button type="button" class="btn btn-small btn-warning" onclick="common_ajax.ajaxMainPanel('/platform/iedtd/toUrl?toUrl=/platform/iedtd/add.html');">
								<i class="icon-plus icon-white"></i>
								添加
							</button> 
							<% } %> 
							
							<% if(delete == true){ %>
							<button type="button" class="btn btn-small btn-danger" data-table="dataTable" data-url="/test/user/delete?csrfToken=${csrfToken!}" onclick="common_modals.deleteList(this)">
								<i class="icon-remove icon-white"></i>
								删除
							</button> 
							<% } %>
						</span>

                       	<div class="space15"></div>
                       
						<table class="table table-striped table-bordered" id="dataTable">
							<thead>
								<tr>
									<th style="width: 8px;">
										<input type="checkbox" class="group-checkable" name="checkAll" onchange="common_common.checkFunc('dataTable', this.checked);" class="flat-grey selectall">
									</th>
									<th>名称</th>
									<th>索引字 </th>
									<th class="hidden-phone">${i18nMap["admin.common.operation"]}</th>
								</tr>
							</thead>
							<tbody>
								<% for(iedtd in splitPage.list){ %>
								<tr class="odd gradeX">
									<td>
										<input type="checkbox" class="checkboxes" name="checkIds" value="${iedtd.ids!}" class="flat-grey foocheck">
									</td>
									<td class="hidden-phone">
										${escapeHtml(iedtd["name"]!)}
									</td>
									<td class="hidden-phone">
										${escapeHtml(iedtd["indexkey"]!)}
									</td>
<!-- 									<td class="hidden-phone">${blog.createtime!, dateFormat="yyyy-MM-dd HH:mm:ss.SSS"}</td> -->
									<td class="hidden-phone">
										<% if(view == true){ %>
											<button type="button" class="btn btn-small" onclick="common_ajax.ajaxMainPanel('/platform/iedtd/view/${iedtd.ids!}');">
												<i class="icon-eye-open"></i> 
												${i18nMap["admin.common.see"]}
											</button> 
										<% } %> 
										
										<% if(edit == true){ %>
											<button type="button" class="btn btn-small btn-inverse" onclick="common_ajax.ajaxMainPanel('/platform/iedtd/edit/${escapeHtml(iedtd.ids!)}');">
												<i class="icon-refresh icon-white"></i>
												${i18nMap["admin.common.edit"]}
											</button> 
										<% } %> 
										
										<% if(delete == true){ %>
										<button type="button" class="btn btn-small btn-danger" onclick="common_modals.deleteOne(this)" data-url="/platform/iedtd/delete/${iedtd.ids!}?csrfToken=${csrfToken!}">
											<i class="icon-remove icon-white"></i>
											${i18nMap["admin.common.delete"]}
										</button> 
										<% } %>
									</td>
								</tr>
								<% } %>
							</tbody>
						</table>

						<div id="splitPageDiv" class="pagination">
							<% include("/platform/common/splitPage.html", {"divId" : "main-content", "formId" : "splitPage", "splitPageDiv" : "splitPageDiv"}){} %>
						</div>

					</div>
				</div>
				<!-- END EXAMPLE TABLE widget-->

			</div>
		</div>

		<!-- END ADVANCED TABLE widget-->
	</div>

</form>

<script type="text/javascript">
	jQuery(document).ready(function() {

	});
</script>

