
<!-- BEGIN PAGE CONTAINER-->
<div class="container-fluid">

	<!-- BEGIN PAGE HEADER-->
	<div class="row-fluid">
		<div class="span12">
			<!-- BEGIN PAGE TITLE & BREADCRUMB-->
			<ul class="breadcrumb">
				<li><a href="javascript:void(0)" onclick="common_ajax.ajaxMainPanel('/platform/index/content');">${i18nMap["admin.common.mainPage"]}</a> <span class="divider">/</span></li>
				<li><a href="#">配置项</a> <span class="divider">/</span></li>
				<li><a href="javascript:void(0)" onclick="common_ajax.ajaxMainPanel('/platform/iedta/backOff');">Excel导入</a> <span class="divider">/</span></li>
				<li class="active">查看</li>
			</ul>
			<!-- END PAGE TITLE & BREADCRUMB-->
		</div>
	</div>
	<!-- END PAGE HEADER-->

	<!-- BEGIN PAGE CONTENT-->
	<div class="row-fluid">
		<div class="span12">
			<!-- BEGIN VALIDATION STATES-->
			<div class="widget red">
				<div class="widget-title">
					<h4>
						<i class=" icon-key"></i> 查看
					</h4>
				</div>
				<div class="widget-body form">	
			
					<form role="form" class="form-horizontal">
						
						<div class="control-group">
							<label class="control-label">索引字</label>
							<div class="controls">
								<input type="text" name="iedtd.indexkey" value="${escapeHtml(iedtd.indexkey!)}" 
									class="span8" maxlength="64" vMin="1" vType="length" 
									readonly="readonly"
									onblur="platform_verify.onblurVali(this);" placeholder="1-64位字母数字">
								<span class="help-inline"></span>
							</div>
						</div>
						
						<div class="control-group">
							<label class="control-label">SQL</label>
							<div class="controls">
								<textarea class="span8 " rows="10" name="iedtd.intoDbSQL" readonly="readonly">${escapeHtml(iedtd.intoDbSQL!)}</textarea>
							</div>
						</div>
						
						<div class="control-group">
							<label class="control-label">导入列列号</label>
							<div class="controls">
								<input type="text" name="iedtd.excelDataColNo" value="${escapeHtml(iedtd.excelDataColNo!)}" 
									readonly="readonly"
									class="span8" maxlength="1024" vMin="1" vType="length" onblur="platform_verify.onblurVali(this);" placeholder="1-1024位字母数字">
								<span class="help-inline"></span>
							</div>
						</div>
					</form>
				</div>
			</div>
			<!-- END VALIDATION STATES-->
		</div>
	</div>

	<!-- END PAGE CONTAINER-->
</div>