		<div class="control-group">
			<label class="control-label">显示顺序</label>
			<div class="controls">
				<input type="text" name="dimensional.vieworder"  value="${escapeHtml(dimensional.vieworder!)}"
					class="span8" maxlength="50" vMin="1" vType="length" onblur="platform_verify.onblurVali(this);" placeholder="1-50位字母数字">
				<span class="help-inline"></span>
			</div>
		</div>
		<div class="control-group">
			<label class="control-label">参数值</label>
			<div class="controls">
				<input type="text" name="dimensional.paravalue"  value="${escapeHtml(dimensional.paravalue!)}"
					class="span8" maxlength="50" vMin="1" vType="length" onblur="platform_verify.onblurVali(this);" placeholder="1-50位字母数字">
				<span class="help-inline"></span>
			</div>
		</div>
		<div class="control-group">
			<label class="control-label">关键字</label>
			<div class="controls">
				<input type="text" name="dimensional.indexkey"  value="${escapeHtml(dimensional.indexkey!)}"
					class="span8" maxlength="50" vMin="1" vType="length" onblur="platform_verify.onblurVali(this);" placeholder="1-50位字母数字">
				<span class="help-inline"></span>
			</div>
		</div>
	