		<div class="control-group">
			<label class="control-label">单价</label>
			<div class="controls">
				<input type="text" name="wiscoSettlement.price"  value="${escapeHtml(wiscoSettlement.price!)}"
					class="span8" maxlength="50" vMin="1" vType="length" onblur="platform_verify.onblurVali(this);" placeholder="1-50位字母数字">
				<span class="help-inline"></span>
			</div>
		</div>
		<div class="control-group">
			<label class="control-label">代收水运保险费</label>
			<div class="controls">
				<input type="text" name="wiscoSettlement.waterTIP"  value="${escapeHtml(wiscoSettlement.waterTIP!)}"
					class="span8" maxlength="50" vMin="1" vType="length" onblur="platform_verify.onblurVali(this);" placeholder="1-50位字母数字">
				<span class="help-inline"></span>
			</div>
		</div>
		<div class="control-group">
			<label class="control-label">开立日期</label>
			<div class="controls">
				<input type="text" name="wiscoSettlement.issuanceDate"  value="${escapeHtml(wiscoSettlement.issuanceDate!)}"
					class="span8" maxlength="50" vMin="1" vType="length" onblur="platform_verify.onblurVali(this);" placeholder="1-50位字母数字">
				<span class="help-inline"></span>
			</div>
		</div>
		<div class="control-group">
			<label class="control-label">合同月份</label>
			<div class="controls">
				<input type="text" name="wiscoSettlement.contractMonth"  value="${escapeHtml(wiscoSettlement.contractMonth!)}"
					class="span8" maxlength="50" vMin="1" vType="length" onblur="platform_verify.onblurVali(this);" placeholder="1-50位字母数字">
				<span class="help-inline"></span>
			</div>
		</div>
		<div class="control-group">
			<label class="control-label">发票号</label>
			<div class="controls">
				<input type="text" name="wiscoSettlement.invoice"  value="${escapeHtml(wiscoSettlement.invoice!)}"
					class="span8" maxlength="50" vMin="1" vType="length" onblur="platform_verify.onblurVali(this);" placeholder="1-50位字母数字">
				<span class="help-inline"></span>
			</div>
		</div>
		<div class="control-group">
			<label class="control-label">订单项次编号</label>
			<div class="controls">
				<input type="text" name="wiscoSettlement.orderItemNo"  value="${escapeHtml(wiscoSettlement.orderItemNo!)}"
					class="span8" maxlength="50" vMin="1" vType="length" onblur="platform_verify.onblurVali(this);" placeholder="1-50位字母数字">
				<span class="help-inline"></span>
			</div>
		</div>
		<div class="control-group">
			<label class="control-label">规格</label>
			<div class="controls">
				<input type="text" name="wiscoSettlement.specification"  value="${escapeHtml(wiscoSettlement.specification!)}"
					class="span8" maxlength="50" vMin="1" vType="length" onblur="platform_verify.onblurVali(this);" placeholder="1-50位字母数字">
				<span class="help-inline"></span>
			</div>
		</div>
		<div class="control-group">
			<label class="control-label">牌号</label>
			<div class="controls">
				<input type="text" name="wiscoSettlement.grade"  value="${escapeHtml(wiscoSettlement.grade!)}"
					class="span8" maxlength="50" vMin="1" vType="length" onblur="platform_verify.onblurVali(this);" placeholder="1-50位字母数字">
				<span class="help-inline"></span>
			</div>
		</div>
		<div class="control-group">
			<label class="control-label">开立原因</label>
			<div class="controls">
				<input type="text" name="wiscoSettlement.openCause"  value="${escapeHtml(wiscoSettlement.openCause!)}"
					class="span8" maxlength="50" vMin="1" vType="length" onblur="platform_verify.onblurVali(this);" placeholder="1-50位字母数字">
				<span class="help-inline"></span>
			</div>
		</div>
		<div class="control-group">
			<label class="control-label">代收铁运保险费</label>
			<div class="controls">
				<input type="text" name="wiscoSettlement.railwayTIP"  value="${escapeHtml(wiscoSettlement.railwayTIP!)}"
					class="span8" maxlength="50" vMin="1" vType="length" onblur="platform_verify.onblurVali(this);" placeholder="1-50位字母数字">
				<span class="help-inline"></span>
			</div>
		</div>
		<div class="control-group">
			<label class="control-label">税额</label>
			<div class="controls">
				<input type="text" name="wiscoSettlement.tax"  value="${escapeHtml(wiscoSettlement.tax!)}"
					class="span8" maxlength="50" vMin="1" vType="length" onblur="platform_verify.onblurVali(this);" placeholder="1-50位字母数字">
				<span class="help-inline"></span>
			</div>
		</div>
		<div class="control-group">
			<label class="control-label">运费</label>
			<div class="controls">
				<input type="text" name="wiscoSettlement.freight"  value="${escapeHtml(wiscoSettlement.freight!)}"
					class="span8" maxlength="50" vMin="1" vType="length" onblur="platform_verify.onblurVali(this);" placeholder="1-50位字母数字">
				<span class="help-inline"></span>
			</div>
		</div>
		<div class="control-group">
			<label class="control-label">人民币货款金额</label>
			<div class="controls">
				<input type="text" name="wiscoSettlement.loan"  value="${escapeHtml(wiscoSettlement.loan!)}"
					class="span8" maxlength="50" vMin="1" vType="length" onblur="platform_verify.onblurVali(this);" placeholder="1-50位字母数字">
				<span class="help-inline"></span>
			</div>
		</div>
		<div class="control-group">
			<label class="control-label">代办运输延伸费</label>
			<div class="controls">
				<input type="text" name="wiscoSettlement.extensionFreight"  value="${escapeHtml(wiscoSettlement.extensionFreight!)}"
					class="span8" maxlength="50" vMin="1" vType="length" onblur="platform_verify.onblurVali(this);" placeholder="1-50位字母数字">
				<span class="help-inline"></span>
			</div>
		</div>
		<div class="control-group">
			<label class="control-label">品种</label>
			<div class="controls">
				<input type="text" name="wiscoSettlement.pName"  value="${escapeHtml(wiscoSettlement.pName!)}"
					class="span8" maxlength="50" vMin="1" vType="length" onblur="platform_verify.onblurVali(this);" placeholder="1-50位字母数字">
				<span class="help-inline"></span>
			</div>
		</div>
		<div class="control-group">
			<label class="control-label">结算清单号</label>
			<div class="controls">
				<input type="text" name="wiscoSettlement.settlementNo"  value="${escapeHtml(wiscoSettlement.settlementNo!)}"
					class="span8" maxlength="50" vMin="1" vType="length" onblur="platform_verify.onblurVali(this);" placeholder="1-50位字母数字">
				<span class="help-inline"></span>
			</div>
		</div>
		<div class="control-group">
			<label class="control-label">出货重量</label>
			<div class="controls">
				<input type="text" name="wiscoSettlement.weight"  value="${escapeHtml(wiscoSettlement.weight!)}"
					class="span8" maxlength="50" vMin="1" vType="length" onblur="platform_verify.onblurVali(this);" placeholder="1-50位字母数字">
				<span class="help-inline"></span>
			</div>
		</div>
	