		<div class="control-group">
			<label class="control-label">牌号</label>
			<div class="controls">
				<input type="text" name="declareplan.grade"  value="${escapeHtml(declareplan.grade!)}"
					class="span8" maxlength="50" vMin="1" vType="length" onblur="platform_verify.onblurVali(this);" placeholder="1-50位字母数字">
				<span class="help-inline"></span>
			</div>
		</div>
		<div class="control-group">
			<label class="control-label">规格型号</label>
			<div class="controls">
				<input type="text" name="declareplan.specification"  value="${escapeHtml(declareplan.specification!)}"
					class="span8" maxlength="50" vMin="1" vType="length" onblur="platform_verify.onblurVali(this);" placeholder="1-50位字母数字">
				<span class="help-inline"></span>
			</div>
		</div>
		<div class="control-group">
			<label class="control-label">计划年月</label>
			<div class="controls">
				<input type="text" name="declareplan.planDate"  value="${escapeHtml(declareplan.planDate!)}"
					class="span8" maxlength="50" vMin="1" vType="length" onblur="platform_verify.onblurVali(this);" placeholder="1-50位字母数字">
				<span class="help-inline"></span>
			</div>
		</div>
		<div class="control-group">
			<label class="control-label">品名</label>
			<div class="controls">
				<input type="text" name="declareplan.pName"  value="${escapeHtml(declareplan.pName!)}"
					class="span8" maxlength="50" vMin="1" vType="length" onblur="platform_verify.onblurVali(this);" placeholder="1-50位字母数字">
				<span class="help-inline"></span>
			</div>
		</div>
		<div class="control-group">
			<label class="control-label">重量</label>
			<div class="controls">
				<input type="text" name="declareplan.weight"  value="${escapeHtml(declareplan.weight!)}"
					class="span8" maxlength="50" vMin="1" vType="length" onblur="platform_verify.onblurVali(this);" placeholder="1-50位字母数字">
				<span class="help-inline"></span>
			</div>
		</div>
		<div class="control-group">
			<label class="control-label">订货单位</label>
			<div class="controls">
				<input type="text" name="declareplan.orderUnit"  value="${escapeHtml(declareplan.orderUnit!)}"
					class="span8" maxlength="50" vMin="1" vType="length" onblur="platform_verify.onblurVali(this);" placeholder="1-50位字母数字">
				<span class="help-inline"></span>
			</div>
		</div>
		<div class="control-group">
			<label class="control-label">生产厂家</label>
			<div class="controls">
				<input type="text" name="declareplan.manufacturer"  value="${escapeHtml(declareplan.manufacturer!)}"
					class="span8" maxlength="50" vMin="1" vType="length" onblur="platform_verify.onblurVali(this);" placeholder="1-50位字母数字">
				<span class="help-inline"></span>
			</div>
		</div>
	